html {
    display: flex;
    font-family: 'Exo', sans-serif;

}

body {
    margin: 0;

}

h3,
h2 {
    margin: 0px;
}


.mypage {

    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    align-items: center;
    padding: 0px;
}

.mypage1 {

    margin: 20px 150px;
    text-align: left;

    /* width: 80;
    height: 80; */

}

.mypage1__name {

    font-size: 15px;
    color: salmon;
    

}

.mypage1__name2 {
    font-size: 38px;

}

.mypage1__dot {
    color: salmon;
}
